.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 56px;
    padding-right: 56px;
    animation: fade-in-container 0.7s ease-out 1;
}

html {
    background-color: #f0f0f2
}